/*18322081杨宗恺,表格排序的css文件sorter.css*/
h1, h2{
    font-family: Calibri, Courier, monospace;
    font-weight: bold;
}
table{
    border-right: 2px solid #D0D0CB;
    border-bottom: 2px solid #D0D0CB;
    border-collapse: collapse;
}
th, td{
    border-left: 2px solid #D0D0CB;
    border-top: 2px solid #D0D0CB;
    width: 130px;
    text-align: left;
    white-space: nowrap;
    border-collapse: collapse;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 10px;
    font-family: Calibri, Courier, monospace;
}
th{
    background-color: #031B7E;
    text-align: left;
    color: white;
    cursor: pointer;
}
td{
    font-weight: bold;
}
tr:nth-child(2n){
    background-color: #DDDEDE;
}
.visited_first{
    background-color: #A5B0FC;
    background-image: url(../img/ascend.png);
    background-repeat: no-repeat;
    background-position: right;
}
.visited_second{
    background-color: #A5B0FC;
    background-image: url(../img/descend.png);
    background-repeat: no-repeat;
    background-position: right;
}